<!DOCTYPE html>
<html>
  <head>
    <title>Todoapp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    
    <%= render "layouts/messages" %> 
    <!--calling in the messages file-->
    
    <%= yield %>
    <!--
    This is where all the html is defined for you, in home, about, help
    YEILD grabs all the html you use in your different files and displays is in the browser
    -->
  </body>
</html>
